@media (max-width: 480px) {
  nav {
    position: absolute !important;
    height: auto;
    font-size: 13px;
    padding: 10px 0;
    @include drop-shadow;

    a.vagrant-docs-logo {
      background: image-url("logo_docs_small.png") no-repeat  center center !important;
      display: inline-block !important;
      float: none !important;
      position: relative;
      width: 200px !important;
      left: 50%;
      padding: 10px 0;
      @include reset;
      margin-left: -100px !important;
    }

    a.vagrant-logo {
      background: image-url("logo_vagrant.png") no-repeat  center center !important;
      display: inline-block !important;
      float: none !important;
      position: relative;
      width: 80% !important;
      left: 50%;
      padding: 10px 0;
      @include reset;
      margin-left: -130px !important;
    }

    ul {
      position: relative;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      padding: 10px 0 0;
    }
  }

  .search {
    input {
      font-size: 20px !important;
      padding: 0 !important;
    }
  }

  ::-webkit-input-placeholder  {
    overflow: visible;
    padding-top: 3px;
    font-size: 15px;
  }

  input:-moz-placeholder {
    overflow: visible;
    padding-top: 3px;
    font-size: 15px;
  }

  .page {
    &.home {
      .hero {
        background-size: 300%;
        background-position: center 0;
        height: 400px;

        .hero-content {
          margin-top: 80px;
        }

        h1 {
          font-size: 40px !important;
          line-height: 40px !important;
          margin-bottom: 30px !important;
          letter-spacing: 1px;
        }

        h2 {
          font-size: 20px !important;
          line-height: 25px;
        }
      }
    }

    .why-vagrant {
      padding: 40px 0 !important;

      hgroup {
        margin: 40px 0 !important;

        :last-child {
          margin-bottom: 0;
        }
      }

      h1 {
        font-size: 30px !important;
        line-height: 30px !important;
      }

      h3 {
        font-size: 40px !important;
        line-height: 40px !important;
        margin-bottom: 20px !important;
      }

      h4 {
        @include hyphenate;
      }
    }

    .get-started {
      padding: 40px 0 !important;

      h1 {
        width: 60%;
        font-size: 30px !important;
        line-height: 30px !important;
      }

      pre {
        margin: 30px auto 30px !important;
      }
    }

    .customers {
      padding: 40px 0 !important;

      h1 {
        font-size: 30px !important;
        line-height: 30px !important;
      }
    }

    &.inner {
      padding-top: 30px;

      .page-contents {
        padding: 40px 0;
      }
    }

    &.docs {
      .page-contents {
        padding: 40px 0;
      }

      h1 {
        font-size: 40px;
        line-height: 40px;
      }

      h2 {
        font-size: 25px;
        line-height: 30px;
      }

      h2.steps img {
        display: block;
        margin-bottom: 20px;
      }
    }
  }

  footer {
    padding: 40px 0 !important;
    background-size: 300%;
    background-position: center bottom;
    background-repeat: no-repeat;

    ul.footer-nav {
      font-size: 13px;
    }
  }

  .button {
    padding: 6px 0;
    font-size: 20px;
    letter-spacing: 3px;
    @include museo-sans-regular;
  }

  .search-bar {
    margin-top: 160px !important;
  }

  .pagination {
    font-size: 15px;
  }

  footer {
    a.contact-link {
      font-size: 20px;
    }
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  nav {
    a.vagrant-logo {
      background: image-url("logo_small.png") no-repeat 0 0 !important;
      width: 80px;
    }

    ul {
      margin: 25px 20px;
    }
  }

  .toggle {
    display: none !important;
  }

  .sidebar-nav ul {
    display: block !important;
  }

}

@media (min-width: 1200px) {}

@media (max-width: 979px) {
  .vagrant-docs-logo {
    background: image-url("logo_docs_small.png") no-repeat 0 0 !important;
    width: 165px !important;
  }
}

@media (min-width: 980px) {}

@media (max-width: 767px) {
  // These modules go full-width at smaller sizes
  .pagination,
  .hero,
  .why-vagrant,
  .get-started,
  .customers,
  footer {
    @include full-width;
  }

  nav {
    height: auto;
    font-size: 13px;
    padding: 10px 0;

    .vagrant-logo {
      display: inline-block !important;
      background-position: center center;
      float: none !important;
      position: relative;
      width: 350px !important;
      left: 50%;
      padding: 10px 0;
      @include reset;
      margin-left: -175px !important;
    }

    .vagrant-docs-logo {
      background: image-url("logo_docs.png") no-repeat 0 0 !important;
      display: inline-block !important;
      background-position: center center;
      float: none !important;
      position: relative;
      width: 350px !important;
      left: 50%;
      padding: 10px 0;
      @include reset;
      margin-left: -175px !important;
    }

    ul {
      position: relative;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      padding: 10px 0 0;

      li:first-child {
        margin-left: 0;
      }
    }
  }

  .wrapper {
    margin-top: 128px;
  }

  .sidebar {
    ul {
      margin-top: 0 !important;

      li {
        display: block;
        text-indent: 20px;

        &:hover,
        &:active {
          background-color: fade($black, 5%);
          @include animate-background-color;
        }
      }

      ul.sub {
        li {}
      }
    }

    .docs & {
      @include docs-bg-small;

      ul {
        display: none;
      }

      .sidebar-nav {
        margin-right: -20px;
        margin-left: -20px;
        @include docs-bg-small;
      }
    }
  }

  .page {
    .page-background {
      left: 0; // Make it full-width to cover the gutters on small screens
    }

    .page-contents {}

    &.home {
      .hero {
        padding: 40px 0;
      }

      h1, h4, pre, .customers-content, {
        max-width: 80% !important;
        margin: 0 auto;
      }

      pre {
        padding: 20px 20px 0 !important;
      }

      .customer-logos {
        margin-top: $baseline !important;
      }
    }

    &.inner  {
      .page-contents {}

      .sidebar {
        padding: 0;
        position: relative;
      }

      .sidebar-nav {
        @include inner-bg-small;
        margin-right: -20px;
        margin-left: -20px;
      }

      h1 {
        padding: 15px 0 15px;
        margin: 0 0 0 20px !important;
      }

      ul {
        margin: 0;
      }

      .button {
        width: 80%;
      }
    }

    &.docs {
      background: transparent;
    }
  }

  .button {
    max-width: 300px;
    position: relative;
  }
}
