<div class="sidebar col-sm-3">
  <aside class="sidebar-nav">
    <div class="toggle visible-sm">
      <div class="open-close open"></div>
      <a href="#">Contents</a>
    </div>

    <ul class="list-unstyled">
      <%= sidebar.item("about", "About Vagrant", "/about.html") %>
      <%= sidebar.item("support", "Support", "/support.html") %>
      <%= sidebar.item("sponsors", "Sponsors", "/sponsors.html") %>
    </ul>
  </aside>
</div>
